<footer class="footer">
  <div class="container">
    <div class="margin-bottom">
      <p class="lead">Useful links</p>
      <ul class="nav flex-column">
        <li>
          <a href="https://alligator.io/angular/chartjs-ng2-charts/"
            >alligator.io - chartjs-ng2-charts</a
          >
        </li>
        <li>
          <a href="https://www.chartjs.org/docs/latest/">Chart.js</a>
        </li>
        <li>
          <a
            href="https://mattlewis92.github.io/angular-calendar/#/kitchen-sink"
            >Angular 6+ Calendar</a
          >
        </li>
        <li>
          <a href="https://getbootstrap.com/">Bootstrap</a>
        </li>
        <li>
          <a href="https://material.angular.io/">Angular Material</a>
        </li>
      </ul>
    </div>
    <p class="font-weight-bold" style="margin-bottom: 0;">
      &copy; All rights reserved for Shobre 2019
    </p>
  </div>
</footer>
