<div class="header-background bg-dark">
  <div></div>
  <div class="container" style="z-index: 110;">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" routerLink="/start-page">Playground</a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        =
      </button>
      <div
        class="navbar-collapse collapse margin-left"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/start-page"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/charts"
              >Charts</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/calendar"
              >Calendar</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/graphql"
              >GraphQL</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
